<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ISII-Taxis</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="material-icons" aria-hidden="true">home</i> 
                Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="adduser">
                <i class="material-icons" aria-hidden="true">person_add</i> 
                Alta usuario
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addtaxi">
                <i class="material-icons" aria-hidden="true">local_taxi</i> 
                Alta taxi
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}